body {
  background-color: rgba(230,210,178,0.5);
}

div#header {
  height: 100px;
  font-size: 50px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(141,153,174,0.7);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

div#header-hs {
  height: 100px;
  font-size: 50px;
  font-family: 'Muli', sans-serif;
  background-color: rgba(250,250,250,1);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

div#header-hs div {
  margin-top: 10px;
  color: #f47d30;
  font-variant: small-caps;
}

div#hs-demo-pic {
  background-image: url('../img/hs-demo-alex.png');
  height: 75px;
  width: 75px;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  margin: 15px 0 12.5px 20px;
}

div#tracker {
  height: 500px;
  width: 700px;
  background-color: #FED587;
  margin: 150px auto 0 auto;
  z-index: 0;
}

div.circler {
  position: absolute;
  width: 56px;
  height: 56px;
  background-color: #FED587;
  border: 3px solid #CBAB6C;
  border-radius: 50%;
  display: inline-block;
  z-index: 2;
}

div.circler h1 {
  font-size: 30px;
  margin-top: 9px;
  text-align: center;
  color: rgb(250,250,250);
}

div.hs-spacer {
  position: absolute;
  margin-top: 246px;
  width: 700px;
  height: 5px;
  background-color: #CBAB6C;
  display: inline-block;
  z-index: 1;
}

div.snippet {
  position: absolute;
  font-family: 'Muli', sans-serif;
  display: inline-block;
  width: 320px;
  height: 75px;
  background-color: rgba(250,250,250,1);
  border-radius: 5px;
  padding: 4px;
  font-size: 11px;
  display: none;
}

div.snippet-header {
  width: 245px;
  height: 20px;
  line-height: 18px;
  background-color: rgba(200,200,200,1);
  border-radius: 5px;
  color: white;
  padding: 0 8px;
  font-size: 13px;
  display: inline-block;
}

div.snippet p {
  margin: 6px 0 6px 10px;
  display: inline-block;
  width: 270px;
  height: 39px;
  line-height: 13px;
  overflow: hidden;
}

div.snippet-picture {
  position: absolute;
  background-size: cover;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  margin-left: 280px;
  margin-top:  -26px;
}

div.snippet span {
  position: absolute;
  width: 100px;
  margin-top: 35px;
  margin-left: -70px;
  font-size: 9px;
  color: rgba(180,180,180,1);
  font-style: italic;
  text-align: right;
}

div#snippet1 {
  margin-top: 30px;
  margin-left: 80px;
}

div#snippet2 {
  margin-top: 120px;
  margin-left: 290px;
}

div#snippet3 {
  margin-top: 350px;
  margin-left: 150px;
}

div#snippet-pic3 {
  background-image: url('../img/hs-demo-alex.png');
}

div.meditation {
  position: absolute;
  display: inline-block;
  width: 400px;
  height: 250px;
  background-color: rgba(250,250,250,0.9);
  z-index: 12;
  margin-top: 125px;
  margin-left: 150px;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  color: #f47d30;
  font-family: 'Muli', sans-serif;
  display: none;
}

div.meditation p {
  margin-top: 40px;
  margin-bottom: 30px
}

div.shader {
  position: absolute;
  top: 0;
  right: 0;
  height: 800px;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 11;
  display: none;
}

div#footer-hs {
  height: 100px;
  font-size: 30px;
  font-family: 'Muli', sans-serif;
  background-color: rgba(30,30,50,1);
  margin: 50px 0 0 0;
  width: 100%;
  z-index: 10;
  font-size: 20px;
}

div#footer-hs div span {
  font-size: 15px;
  font-style: italic;
}

div#footer-hs div {
  margin-top: 23px;
  color: rgb(250,250,250);
}

a#hs-link {
  color: #f47d30;
}

.resume {
  background-size: cover;
  background-image: url('../img/cv.png');
  height: 50px;
  width: 50px;
  display: inline-block;
  position: fixed;
  top: 25px;
  right: 150px;
  border-radius: 50%;
  cursor: pointer;
  filter: grayscale(100%) brightness(2.4);
  z-index: 1;
}

.linkedin {
  background-size: cover;
  background-image: url('../img/linkedin.png');
  height: 50px;
  width: 50px;
  display: inline-block;
  position: fixed;
  top: 25px;
  right: 85px;
  border-radius: 50%;
  cursor: pointer;
  filter: grayscale(100%) brightness(144%);
}

.github {
  background-size: cover;
  background-image: url('../img/github.png');
  height: 50px;
  width: 50px;
  display: inline-block;
  position: fixed;
  top: 25px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.white-box1 {
  background-color: rgb(250,250,250);
  height: 50px;
  width: 50px;
  display: inline-block;
  position: fixed;
  top: 25px;
  right: 150px;
  border-radius: 50%;
  border: 2px solid #808080;
}
.white-box2 {
  background-color: rgb(250,250,250);
  height: 48px;
  width: 48px;
  display: inline-block;
  position: fixed;
  top: 26px;
  right: 21px;
  border-radius: 50%;
}

div#footer {
  height: 100px;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: rgba(30,30,50,1);
  margin: 125px 0 0 0;
  width: 100%;
  z-index: 10;
  font-size: 20px;
}

div#footer div span {
  font-size: 15px;
  font-style: italic;
}

div#footer div {
  margin-top: 23px;
  color: rgb(250,250,250);
}

div#header h1 {
  color: rgb(250,250,250);
}

div#picture {
  background-image: url('../img/th.png');
  height: 75px;
  width: 75px;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  margin: 12.5px 0 12.5px 20px;
}

div#logo {
  display: inline-block;
  margin: 12.5px 0;
}

div#logo h1 {
  font-size: 50px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

.carrot {
  animation: cycle 5s linear infinite;
  font-family: 'Raleway', sans-serif;
}

@keyframes cycle {
  0% {
    color: rgb(250,250,250);
  } 50% {
      color: rgba(129, 205, 204,1);
  } 100% {
    color: rgb(250,250,250);
  }
}

div.intro {
  margin-top: 250px;
}

div.intro-text {
  background-color: rgba(129, 205, 204,0.8);
  color: rgb(41,53,74);
  text-align: center;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

div.intro-text p{
  padding: 10px;
}

div.intro-text p span{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

div.intro-main {
  margin-top: 220px;
}

div.intro-text-main {
  background-color: rgba(129, 205, 204,0.8);
  transition: all 0.5s ease;
  color: rgb(41,53,74);
  text-align: center;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
  width: 30%;
  height: 250px;
  display: inline-block;
  cursor: pointer;
}

div#main-pic-1:hover {
  background-image: url('../img/hp-main2.png');
  background-size: cover;
  color: rgb(250,250,250);
}

div#main-pic-2:hover {
  background-image: url('../img/hp-main1.png');
  background-size: cover;
  color: rgb(250,250,250);
}

div.intro-text-main p{
  margin: 75px auto 0 auto;
}

div.intro-text-main span{
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

div.spacer {
  display: inline-block;
  width: 5%;
}

div.quote {
  margin-top: 150px;
}

div.quote span {
  float: right;
  margin: 0 10px 20px 0;
}

div.quote-text {
  background-color: rgba(0,0,0,0.8);
  color: rgb(250,250,250);
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 50px;
  width: 90%;
  padding: 10px 40px;
}

div.quote-text p{
  padding: 10px;
}

div.case {
  margin-top: 150px;
}

div.case h1 {
  font-size: 35px;
  display: inline-block;
  background-color: rgba(129, 205, 204,0.8);
  color: rgba(41,53,74,1);
  font-family: 'Raleway', sans-serif;
  padding: 10px 20px;
  margin: 20px 0;
}

div.case-block {
  background-color: rgba(129, 205, 204,0.8);
  color: rgba(41,53,74,1);
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

div.case-block p {
  padding: 0 15px;
}

.linker {
  animation: cycle1 3s linear infinite;
  font-family: 'Raleway', sans-serif;
}

.linker1 {
  animation: cycle1 3s linear infinite;
  font-family: 'Josefin Sans', sans-serif;
}

@keyframes cycle1 {
  0% {
    color: rgb(250,250,250);
  } 33% {
    color: rgb(250,250,250);
  } 50% {
    color: rgba(255,170,140,1);
  } 66% {
    color: rgb(250,250,250);
  } 100% {
    color: rgb(250,250,250);
  }
}

.case-block-image {
  background-size: cover;
  display: inline-block;
  width: 300px;
  height: 250px;
  margin: 20px 10px 0 10px;
  opacity: 0.8;
}

#cb-image-1 {
  background-image: url('../img/hp-survey.png');
}

#cb-image-2 {
  background-image: url('../img/hp-main.png');
}

#cb-image-3 {
  background-image: url('../img/roi-main.png');
}

#cb-image-4 {
  background-image: url('../img/roi-rec.png');
}

#cb-image-5 {
  background-image: url('../img/prod-reqs2.png');
}

#cb-image-6 {
  background-image: url('../img/prod-reqs1.png');
}

#cb-image-7 {
  background-image: url('../img/hp-wif.png');
  width: 600px;
}

#cb-image-8 {
  background-image: url('../img/cocoa-stories.png');
}

#cb-image-9 {
  background-image: url('../img/cocoa-timeline.png');
}

#hs-image-1 {
  background-image: url('../img/hs1.png');
}

#hs-image-2 {
  background-image: url('../img/hs2.png');
}

#hs-image-3 {
  background-image: url('../img/hs3.png');
}

#hs-image-4 {
  background-image: url('../img/hs4.png');
}

#hs-image-5 {
  background-image: url('../img/hs5.png');
  width: 600px;
}

#hs-image-6 {
  background-image: url('../img/hs6.png');
  width: 600px;
}

#hs-image-7 {
  background-size: cover;
  display: inline-block;
  height: 250px;
  margin: 20px 10px 0 10px;
  opacity: 0.8;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-size: cover;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  opacity: 0.8;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {

  .fullscreen-bg__video {
    display: none;
  }
}

ul.menu {
  display: inline-block;
  margin: 0 0 0 -10px;
  height: 55px;
  width: 250px;
}

ul.menu li {
  float: left;
  list-style: none;
  text-align: left;
}

a.lister {
  color: rgb(41,53,74);
  font-family: 'Josefin Sans', sans-serif;
  display: block;
}

ul.menu li #main-list {
  animation: cycle 5s linear infinite;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
}

ul.menu li:hover {
  color: rgb(41,53,74);
  text-decoration: none;
}

ul.menu ul {
  position: relative;
  display: none;
  width: 250px;
  right: 15px;
}

ul.menu ul li {
  float: none;
  position: relative;
  left: 30px;
  padding: 5px 0px 5px 15px;
  margin-top: 3px;
  font-size: 15px;
  background-color: rgba(250,250,250,0.7);
}

.with-child::after {
  content: '\25be';
  color: #ffffff;
}

.bounce {
  opacity: 0.7;
  position: relative;
  left:50%;
  bottom:0;
  margin-top:-40px;
  margin-left:-25px;
  height:50px;
  width:50px;
  background-image: url('../img/arrow.png');
  background-size: cover;
  -webkit-animation:bounce 1s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  50% { bottom:20px; }
}

.makeSpace {
  height: 35px;
}

.work-pane {
  height: 400px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45px;
}

.darkness:hover {
  background-color: rgba(0,0,0,0.7);
  color: rgba(250,250,250,1);
  cursor: pointer;
}

.darkness {
  padding: 0 10px;
  display: inline-block;
  margin: 0;
  width: 100%;
  height: 400px;
  color: rgba(250,250,250,0);
  line-height: 45px;
  text-align: center;
}

.darkness p {
  width: 100%;
}

.darkness span {
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
}

#work-pane-left {
  margin: 150px 0 0 0;
  padding: 0;
}

#work-pane-right {
  margin: 250px 0 0 0;
  padding: 0;
}

#work-pane1 {
  background-image: url('../img/hp-main3.png');
  background-size: cover;
  padding: 0;
}

#work-pane2 {
  background-image: url('../img/hs-main1.png');
  background-size: cover;
  padding: 0;
}

#work-pane3 {
  background-image: url('../img/cf-main1.png');
  background-size: cover;
  padding: 0;
}

#work-pane4 {
  background-image: url('../img/th-main1.png');
  background-size: cover;
  padding: 0;
}
