.fullscreen-bg {
  background-color: rgb(240,240,240);
  z-index: -100;
}

div#header {
  height: 100px;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(141,153,174,0.2);
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.resume {
  background-size: cover;
  background-image: url('../img/cv.png');
  height: 50px;
  width: 50px;
  display: inline-block;
  position: fixed;
  top: 25px;
  right: 150px;
  border-radius: 50%;
  cursor: pointer;
  filter: grayscale(100%) brightness(2.4);
  z-index: 1;
}

.linkedin {
  background-size: cover;
  background-image: url('../img/linkedin.png');
  height: 50px;
  width: 50px;
  display: inline-block;
  position: fixed;
  top: 25px;
  right: 85px;
  border-radius: 50%;
  cursor: pointer;
  filter: brightness(140%);
}

.github {
  background-size: cover;
  background-image: url('../img/github.png');
  height: 50px;
  width: 50px;
  display: inline-block;
  position: fixed;
  top: 25px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.white-box1 {
  background-color: rgb(250,250,250);
  height: 50px;
  width: 50px;
  display: inline-block;
  position: fixed;
  top: 25px;
  right: 150px;
  border-radius: 50%;
  border: 2px solid #808080;
}
.white-box2 {
  background-color: rgb(250,250,250);
  height: 48px;
  width: 48px;
  display: inline-block;
  position: fixed;
  top: 26px;
  right: 21px;
  border-radius: 50%;
}

div#footer {
  height: 100px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(30,30,50,1);
  margin: 125px 0 0 0;
  width: 100%;
  z-index: 10;
  font-size: 20px;
}

div#footer div span {
  font-size: 15px;
  font-style: italic;
}

div#footer div {
  margin-top: 23px;
  color: rgb(250,250,250);
}

div#header h1 {
  color: rgb(250,250,250);
}

div#picture {
  background-image: url('../img/th.png');
  height: 75px;
  width: 75px;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  margin: 12.5px 0 12.5px 20px;
}

div#logo {
  display: inline-block;
  margin: 12.5px 0;
}

div#logo h1 {
  font-size: 50px;
  margin: 0;
  display: inline-block;
}

.carrot {
  animation: cycle 5s linear infinite;
  font-family: 'Raleway', sans-serif;
}

@keyframes cycle {
  0% {
    color: rgb(250,250,250);
  } 50% {
      color: rgba(230,100,110,1);
  } 100% {
    color: rgb(250,250,250);
  }
}

div.intro {
  margin-top: 250px;
}

div.intro-text {
  background-color: rgba(129, 205, 204,0.8);
  color: rgb(250,250,250);
  text-align: center;
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

div.intro-text p{
  padding: 10px;
}

div.intro-text p span{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

div.quote {
  margin-top: 175px;
}

div.quote span {
  float: right;
  margin: 0 10px 20px 0;
}

div.quote-text {
  background-color: rgba(141,153,174,0.7);
  color: rgb(250,250,250);
  text-align: center;
  font-size: 19px;
  font-style: italic;
}

div.quote-text p{
  padding: 10px;
}

div.case {
  margin-top: 150px;
}

div.case h1 {
  font-size: 35px;
  display: inline-block;
  background-color: rgba(129, 205, 204,0.8);
  color: rgba(250,250,250,1);
  font-family: 'Raleway', sans-serif;
  padding: 10px 20px;
  margin: 20px 0;
}

div.case-block {
  background-color: rgba(129, 205, 204,0.8);
  color: rgba(250,250,250,1);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

div.case-block p {
  padding: 0 15px;
}

.linker {
  animation: cycle1 4s linear infinite;
}

@keyframes cycle1 {
  0% {
    color: rgb(250,250,250);
  } 50% {
      color: rgba(255,170,140,1);
  } 100% {
    color: rgb(250,250,250);
  }
}

.case-block-image {
  background-size: cover;
  display: inline-block;
  width: 300px;
  height: 250px;
  margin: 20px 10px 0 10px;
  opacity: 0.8;
}

#cb-image-1 {
  background-image: url('../img/hp-survey.png');
}

#cb-image-2 {
  background-image: url('../img/hp-main.png');
}

#cb-image-3 {
  background-image: url('../img/roi-main.png');
}

#cb-image-4 {
  background-image: url('../img/roi-rec.png');
}

#cb-image-5 {
  background-image: url('../img/prod-reqs2.png');
}

#cb-image-6 {
  background-image: url('../img/prod-reqs1.png');
}

#cb-image-7 {
  background-image: url('../img/hp-wif.png');
  width: 600px;
}

#cb-image-8 {
  background-image: url('../img/cocoa-stories.png');
}

#cb-image-9 {
  background-image: url('../img/cocoa-timeline.png');
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  opacity: 0.8;
  background-size: cover;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  opacity: 0.8;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {

  .fullscreen-bg__video {
    display: none;
  }
}

ul.menu {
  display: inline-block;
  margin: 0 0 0 -10px;
  height: 55px;
  width: 250px;
}

ul.menu li {
  float: left;
  list-style: none;
  text-align: left;
}

a.lister {
  color: #E6646E;
  font-family: 'Roboto', sans-serif;
  display: block;
}

ul.menu li #main-list {
  animation: cycle 5s linear infinite;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

ul.menu li:hover {
  color: #E6646E;
  text-decoration: none;
}

ul.menu ul {
  position: relative;
  display: none;
  width: 250px;
  right: 15px;
}

ul.menu ul li {
  float: none;
  position: relative;
  left: 30px;
  padding: 5px 0px 5px 15px;
  margin-top: 3px;
  font-size: 15px;
  background-color: rgba(250,250,250,0.7);
}

.with-child::after {
  content: '\25be';
  color: #ffffff;
}

.bounce {
  position: relative;
  left:50%;
  bottom:0;
  margin-top:-55px;
  margin-left:-40px;
  height:80px;
  width:80px;
  background-image: url('../img/arrow.png');
  background-size: cover;
  -webkit-animation:bounce 1s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  50%      { bottom:20px; }
}
