<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Taylor Halsted</title>
  <link rel="shortcut icon"
       href="../../img/th.png">
  <link href="https://fonts.googleapis.com/css?family=Muli:200" rel="stylesheet">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  <script src="../../js/script.js" type="text/javascript" defer></script>
</head>
<body>
  <div class="row z-depth-2" id="header-hs">
    <div class="snippet" id="snippet1">
      <div class="snippet-header">

      </div>
      <div class="snippet-picture">
    </div>
    <div class="col s1" id="hs-demo-pic"></div>
    <div class="col s10">
      Welcome back, Alex!
    </div>
  </div>
  <div id="tracker">
    <div class="hs-spacer"></div>
  </div>
  <div class="row" id="footer-hs">
      <div class="col s12">
      <center>Designed & built for illustrative purposes by Taylor<br>
      <span>Inspiration credit to <a id="hs-link" href="https://www.headspace.com" target="_blank">Headspace</a></span>
      </center>
      </div>
  </div>
</body>
</html>
